blinker 
click 
colorama 
Flask 
gunicorn==23.0.0
itsdangerous 
Jinja2 
joblib==1.4.2
MarkupSafe 
numpy==2.2.0
packaging==24.2
scikit-learn==1.6.0
scipy==1.14.1
setuptools==75.1.0
threadpoolctl==3.5.0
Werkzeug 
wheel==0.44.0
